/* Reset */
* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper-photo2 {
  background-image: url("../images/about_me.jpg");
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

a {
  margin: 0 11px;
  text-decoration: none;
}

.active{
color: #E0EAF3;
}

ion-icon:hover, .hover-effect li:hover{
  /* color: #BFD1E2; */
  color: #E0EAF3;
  /* text-decoration: underline; */
  transition-duration: 0.2s;
}

li, h1, h2 {
  /* color: #E7E7E7; */
  color: #3C4F64;
  /* font-family: 'Oswald', sans-serif; */
  font-family: 'Raleway', sans-serif;
}

/* icons */
.icons{
  display: flex;
  position: absolute;
  left: 80%;
}

ion-icon {
  font-size: 2em;
  color: #3C4F64;
}

h1 {
  word-spacing: 5px;
  letter-spacing: 11px;
  font-size: 50px;
}

li {
  font-size: 19px;
}

h2 {
  text-align: center;
  /* text-decoration: underline; */
}

/* Text */
.text-wrapper {
  position: absolute;
  top: 33%;
  left: 16%;
  background-color: rgba(0,0,0,0.77);
  border-radius: 10px;
  padding: 18px 22px 18px 8px;
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1%;
}

.portrait {
  background-image: url(../images/portrait2.jpg);
  border-radius: 10px;
  background-size: 230px 320px;
  background-repeat: no-repeat;
  background-position: center;

}

.text{
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  letter-spacing: 1.6px;
  line-height: 1.4em;
  text-align: justify;
  /* color: #E0EAF3; */
  color: white;
}

@media (max-width: 1050px) {
  .text-wrapper {
    top: 25%;
    transition: 1s;
  }
}

@media (max-width: 765px) {
  .text-wrapper {
    top: 25%;
  }
  .text {
    font-size: 12px;
    transition: 1s;
  }
}

@media (max-width: 480px) {
  .text-wrapper {
    /* top: 20%; */
    padding: 11px 4px;
    grid-template-columns: 1fr;
    transition: 1s;
  }
  .text {
    font-size: 12px;
    transition: 1s;
  }
}
